# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/livilon?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRES_IN=15d

# CORS
CORS_ORIGIN=http://localhost:3000

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Admin Seed
ADMIN_USER_ID=ADMIN001
ADMIN_EMAIL=admin@livilon.com
ADMIN_MOBILE=9999999999
ADMIN_PASSWORD=Admin@123
